repos:
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
