name: release

on:
  workflow_dispatch:
    inputs:
      package:
        description: "Package name"
        required: true
        default: 'autoconf'
        type: choice
        options:
        - autoconf
        - devcontainer

jobs:
  release-to-ghcr:
    concurrency:
      group: release-to-ghcr-${{ inputs.package }}
      cancel-in-progress: false
    if: contains('["brettcannon", "corona10", "erlend-aasland"]', github.actor)
    runs-on: ubuntu-latest
    steps:
      # Checkout push-to-registry action github repository
      - name: Set Calver Date
        run: |
          echo "builddate=$(date +'%Y.%m.%d')" >> $GITHUB_OUTPUT
        id: version
      - name: Checkout Push to Registry action
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login To GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./${{ inputs.package }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/python/${{ inputs.package }}:${{ steps.version.outputs.builddate }}.${{ github.run_id }}
            ghcr.io/python/${{ inputs.package }}:latest
