on:
  workflow_dispatch:
    inputs:
      package:
        description: "Package name"
        required: true
        default: 'autoconf'
        type: choice
        options:
        - autoconf
        - devcontainer

jobs:
  release-to-ghcr:
    runs-on: ubuntu-latest
    steps:
      # Checkout push-to-registry action github repository
      - name: Checkout Push to Registry action
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login To GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: python
          password: ${{secrets.GHCR_TOKEN}}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./${{ inputs.package }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/python/${{ inputs.package }}:latest
